:root {
    --border-radius: 20px;
    --general-text: #1f1f1f;
    --accent-text: #fff;
    --transition: all .3s;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}

.body {
    font-family: "PP Pangram Sans", sans-serif;
    color: var(--general-text);
    background: #f4f4f4;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.main__hero {
    margin-bottom: 120px;
}


.container {
    max-width: 1350px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.bg-container {
    max-width: 1860px;
    margin: 0 auto;
    height: 100%;
}

/* ========================================== */

.button {
    border: 2px solid #3c3c3c;
    border-radius: 8px;
    font-weight: 700;
    font-size: 13px;
    line-height: 1.54;
    padding: 10px 19px 10px;
    background: transparent;
}

.field {
    display: block;
}

.field__input {
    display: block;
    width: 100%;
    border-radius: 10px;
    padding: 28px 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    color: #1f1f1f;
    background: #f5f5f5;
}

.field__label-checkbox {
    display: flex;
    gap: 14px;
}

.field__checkbox {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background: #eee;
    flex-shrink: 0;
    cursor: pointer;
    position: relative;
}

.field__checkbox::before {
    content: '';
    position: absolute;
    inset: 0;
    background: url("../img/icons/chek-chekbox.svg") 50% 50% no-repeat;
    transition: var(--transition);
    opacity: 0;
}

.field__checkbox:checked::before {
    opacity: 1;
}

/* ========================================== */

.modal {
    position: fixed;
    inset: 0;
    z-index: 13;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background: #18181870;

    opacity: 0;
    visibility: hidden;
    transition: all .5s;
}

.modal--opened {
    opacity: 1;
    visibility: visible;
}

.modal__window {
    background: var(--general-text);
    border-radius: var(--border-radius);
    padding: 40px 30px 30px;
    color: var(--accent-text);
    max-width: 450px;
    position: relative;
}

.modal__cancel {
    position: absolute;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 5px;
    right: 5px;
    transition: var(--transition);
}


.modal__cancel span {
    position: relative;
    display: block;
    width: 23px;
    height: 2px;
    border-radius: 100px;
    background: transparent;
}

.modal__cancel span::after {
    content: '';
    position: absolute;
    display: block;
    width: 23px;
    height: 2px;
    border-radius: 100px;
    background: var(--accent-text);
    transition: var(--transition);
    bottom: 0px;
    transform: rotate(45deg);
}

.modal__cancel span::before {
    content: '';
    position: absolute;
    display: block;
    width: 23px;
    height: 2px;
    border-radius: 100px;
    background: var(--accent-text);
    transition: var(--transition);
    top: 0px;
    transform: rotate(-45deg);
}

.modal__cancel:hover span::after,
.modal__cancel:hover span::before {
    background: #7e7e7e;
}

.modal__title {
    text-align: center;
    font-family: "Unbounded", sans-serif;
    font-size: 20px;
    line-height: 1.29;
    margin-bottom: 20px;
}

.modal__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.43;
    color: #ffffff99;
    margin-bottom: 30px;
}

.modal__form {
    display: flex;
    flex-direction: column;
}

.modal__label {
    margin-bottom: 14px;
}

.tel__input {
    display: block;
    width: 100%;
    border-radius: 10px;
    padding: 28px 30px;
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    background: #f5f5f5;
}

.modal__label-checkbox {
    margin-bottom: 20px;
}

.modal__label-checkbox span {
    font-weight: 500;
    font-size: 13px;
    line-height: 1.38;
    color: #ffffff99;
}

.modal__label-checkbox span a {
    text-decoration: underline;
    color: var(--accent-text);
    transition: var(--transition);
}

.modal__label-checkbox span a:hover {
    color: #7e7e7e;
}

.modal__checkbox {}

.modal__button {
    font-size: 18px;
    padding: 14px 24px 14px;
    transition: var(--transition);
}

.modal__button:hover {
    background: #7e7e7e;
    border: 2px solid #0a0a0a;
}

/* ========================================== */

.burger-icon {
    display: none;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    z-index: 11;
}

.burger-icon span {
    position: relative;
    display: block;
    width: 23px;
    height: 2px;
    border-radius: 100px;
    background: var(--accent-text);
    transition: var(--transition);
}

.burger-icon span::after {
    content: '';
    position: absolute;
    display: block;
    width: 23px;
    height: 2px;
    border-radius: 100px;
    background: var(--accent-text);
    transition: var(--transition);
    bottom: -8px;
}

.burger-icon span::before {
    content: '';
    position: absolute;
    display: block;
    width: 23px;
    height: 2px;
    border-radius: 100px;
    background: var(--accent-text);
    transition: var(--transition);
    top: -8px;
}

.body--opened-menu .burger-icon span {
    background: transparent;
}

.body--opened-menu .burger-icon span::after {
    bottom: 0px;
    transform: rotate(45deg);
}

.body--opened-menu .burger-icon span::before {
    top: 0px;
    transform: rotate(-45deg);
}

/* ======================================================= */

.header {
    background: #181818;
    box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.06);
    padding: 37px 0 41px;
}

.header__inner {
    margin: 0 auto;
    max-width: 1831px;
    padding: 0 15px;
    justify-content: space-between;
    color: var(--accent-text);
    display: flex;
    align-items: center;
    gap: 15px;
}

.header__info {
    gap: 50px;
    display: flex;
}

.header__logo {
    z-index: 11;
}

.header__logo img {
    width: 100%;
}

.haeder__change-geolocation {
    display: flex;
    gap: 1px;
    z-index: 11;
}

.header__geolocation {
    font-weight: 700;
    font-size: 11px;
    line-height: 2;
    text-transform: uppercase;
    color: #a6a6a6;
    background: #0c0c0c;
    display: flex;
    align-items: center;
    gap: 7px;
    padding: 8px 13px;
    transition: var(--transition);
}

.header__geolocation:hover {
    background: #7e7e7e;
}

.header__geolocation:first-child {
    padding-right: 14px;
    border-radius: 6px 0 0 6px;
}

.header__geolocation:last-child {
    padding-left: 14px;
    border-radius: 0 6px 6px 0;
}

.header__geolocation--active {
    color: var(--accent-text);
}

.header__geolocation--active path {
    fill: url(#paint0_linear_7806_419);
}

.header__nav {
    position: relative;
}

.header__nav-dropdown {
    display: none;
    transition: var(--transition);
}

.header__nav-dropdown:hover {
    background: #7e7e7e;
    border: 2px solid #0a0a0a;
}

.header__nav-list {
    display: flex;
    gap: 25px 50px;
}

.header__nav-item {
    font-weight: 500;
    font-size: 15px;
    line-height: 1.47;
    transition: var(--transition);
    position: relative;
}

.header__nav-item:hover {
    color: #7e7e7e;
}

.header__nav-item::before {
    content: '';
    position: absolute;
    left: 100%;
    right: 100%;
    bottom: 0;
    height: 1px;
    background: #7e7e7e;
    transition: right 0s 0.3s, left 300ms;
}

.header__nav-item:hover::before {
    left: 0;
    right: 0;
    transition: right 300ms;
}

.header__nav-link {}

.header__connect {
    display: flex;
    align-items: center;
    gap: 15px 60px;
    z-index: 11;
}

.socials {
    display: flex;
    gap: 13px;
    align-items: center;
}

.socials__item {}

.socials__item g,
.socials__item path {
    transition: var(--transition);
}

.socials__item:hover g,
.socials__item:hover path {
    opacity: 1;
}

.tel {
    display: flex;
    align-items: center;
    gap: 15px 32px;
}

.tel__number {
    font-family: "Unbounded", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.11;
    transition: var(--transition);
    position: relative;
}

.tel__number::before {
    content: '';
    position: absolute;
    left: 100%;
    right: 100%;
    bottom: 0;
    height: 1px;
    background: #7e7e7e;
    margin-bottom: -5px;
    transition: right 0s 0.3s, left 300ms;
}

.tel__number:hover::before {
    left: 0;
    right: 0;
    transition: right 300ms;
}

.tel__number:hover {
    color: #7e7e7e;
}

.tel__button {
    transition: var(--transition);
}

.tel__button:hover {
    background: #7e7e7e;
    border: 2px solid #0a0a0a;
}

.header__actions {
    display: flex;
    gap: 12px;
    z-index: 11;
}

.header__actions-item {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: #0a0a0a;
    transition: var(--transition);
}

.header__actions-item:hover {
    background: #7e7e7e;
}

.header__actions-badge {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    background: #e73939;
    border-radius: 50%;
    right: -9%;
    top: -1%;
    font-family: "Unbounded", sans-serif;
    font-size: 9px;
    line-height: 1;
    transform: scale(1);
    transition: var(--transition);
}

.header__actions-item:hover .header__actions-badge {
    transform: scale(1.1);
}

/* ==================================================== */

.hero {
    position: relative;
}

.hero__bg {
    background-image: linear-gradient(180deg, rgba(17, 17, 17, 0.11) 0%, rgba(17, 17, 17, 0.96) 100%), url(../img/decor/hero-bg.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 0 36px 36px;
    padding: 170px 0 292px;
}

.hero__info {
    color: var(--accent-text);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__title {
    font-family: "Unbounded", sans-serif;
    font-weight: 700;
    font-size: 89px;
    line-height: 1.07;
    margin-bottom: 40px;
    max-width: 754px;
    text-align: center;
}

.hero__text {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.33;
    margin-bottom: 120px;
}

.hero__info hr {
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin-bottom: 70px;
    width: 100%;
}

.hero__slider {
    width: 100%;
}

.hero__list {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 48px;
}

.hero__item {
    display: flex;
    gap: 17px;
    font-weight: 500;
    font-size: 17px;
    line-height: 1.53;
}

.hero__item span {
    display: flex;
    width: 26px;
    height: 26px;
    justify-content: center;
    align-items: center;
    background: var(--accent-text);
    border-radius: 50%;
    flex-shrink: 0;

    font-family: "Unbounded", sans-serif;
    font-weight: 500;
    font-size: 10px;
    line-height: 1;
    color: #1f1f1f;

    margin-top: 3px;
}

.hero__nav {
    border-radius: 20px;
    background-color: var(--accent-text);
    padding: 60px 70px 70px;
    max-width: 1320px;
    width: 100%;
    color: #1f1f1f;
    margin: 0 auto;
    transform: translateY(-50%);
}

.hero__form-title {
    font-family: "Unbounded", sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.32;
    margin-bottom: 36px;
}

.hero__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 46px;
}

.hero__fieldset-date {
    display: flex;
    gap: 12px 20px;
}

.hero__label-date {}

.hero__input-date {
    width: 242px;
}

.hero__fieldset-checkbox {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 14px 26px;
}

.hero__label-checkbox {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.43;
}

.hero__checkbox {
    transition: var(--transition);
}

.hero__checkbox::before {
    background: url(../img/icons/chek.svg) 50% 50% no-repeat;
    transition: var(--transition);
}

.hero__checkbox:checked {
    background: #1f1f1f;
}

.hero__button {
    border-radius: 10px;
    padding: 28px 34px;
    background: linear-gradient(67deg, #9f7437 0%, #e3d293 100%);
    border: none;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    color: #fff;
    transition: var(--transition);
}

.hero__button:hover {
    background: linear-gradient(250deg, #9f7437 0%, #e3d293 100%);
}


/* ==================================================== */

@media (max-width: 1700px) {
    .tel__number {
        display: none;
    }
}

@media (max-width: 1500px) {

    .header__info {
        gap: 30px
    }

    .header__nav-dropdown {
        display: block;
    }

    .header__nav-list {
        position: absolute;
        top: 120%;
        right: -20%;
        flex-direction: column;
        background: #181818;
        text-align: center;
        padding: 20px 30px;
        border: 2px solid #3c3c3c;
        border-radius: 6px;
        visibility: hidden;
        opacity: 0;
        transition: var(--transition);
        transform-origin: top center;
        z-index: 10;

        transform: rotateX(90deg);
    }

    .header__nav-item {
        font-size: 18px;
    }

    .header__nav-dropdown--open .header__nav-list {
        visibility: visible;
        opacity: 1;
        transform: rotateX(0);
    }

    /* ======================== */

    .hero__nav {
        max-width: 600px;
    }

    .hero__form-title {
        text-align: center;
    }

    .hero__form {
        flex-direction: column;
    }

    .hero__fieldset-date,
    .hero__label-date,
    .hero__input-date,
    .hero__fieldset-checkbox,
    .hero__button {
        width: 100%;
    }
}

@media (max-width: 1300px) {
    .hero__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .hero__item {
        max-width: 243px;
    }
}

@media (max-width: 1000px) {
    .socials {
        display: none;
    }

    /* ================== */

    .hero__title {
        font-size: 10vw;
        max-width: none;
    }

    .hero__text {
        font-size: 20px;
    }
}

@media (max-width: 900px) {

    .haeder__change-geolocation {
        position: fixed;
        top: 16vh;
        left: 0;
        right: 0;
        justify-content: center;

        transform: translateX(50%);
        opacity: 0;
        visibility: hidden;
        transition: var(--transition);
    }

    .body--opened-menu .haeder__change-geolocation {
        transform: translateX(0%);
        opacity: 1;
        visibility: visible;
    }

    .header__nav-dropdown {
        display: none;
    }

    .header__geolocation {
        font-size: 18px;
    }

    .header__geolocation svg {
        height: 14px;
        width: 12px;
    }

    .header__nav {
        position: fixed;
        inset: 0;
        z-index: 10;
        background: #181818;

        transform: translateX(50%);
        opacity: 0;
        visibility: hidden;
        transition: var(--transition);
    }

    .body--opened-menu .header__nav {
        transform: translateX(0%);
        opacity: 1;
        visibility: visible;
    }

    .header__nav-list {
        position: relative;
        top: 28vh;
        right: 0;
        border: none;
        border-radius: 0;
        background: transparent;
        padding: 0;
        align-items: center;

        transform: rotateY(0);
    }

    .body--opened-menu .header__nav-list {
        opacity: 1;
        visibility: visible;
    }

    .header__nav-item {
        font-size: 24px;
    }

    .socials {
        display: flex;
    }

    .header__connect {
        position: fixed;
        bottom: 2vh;
        left: 0;
        right: 0;
        justify-content: center;
        flex-direction: column;

        transform: translateX(50%);
        opacity: 0;
        visibility: hidden;
        transition: var(--transition);
    }

    .body--opened-menu .header__connect {
        transform: translateY(0%);
        opacity: 1;
        visibility: visible;
    }

    .tel {
        flex-direction: column;
    }

    .tel__number {
        display: block;
    }

    .header__actions {
        gap: 10px;
    }

    .burger-icon {
        display: flex;
    }

    /* ===================== */

    .hero__bg {
        padding: 80px 0 140px;
        border-radius: 0;
    }

    .hero__text {
        font-size: 18px;
        margin-bottom: 80px;
    }

    .hero__info hr {
        margin-bottom: 80px;
    }

    .hero__nav {
        transform: translateY(0%);
        max-width: none;
        border-radius: 0;
    }

    .hero__list {
        flex-wrap: nowrap;
        justify-content: start;
    }

    .hero__item {
        justify-content: center;
    }
}

@media (max-width: 700px) {

    .header {
        padding: 17px 0;
    }

    /* ============================== */
    
    .hero__item {
        font-size: 15px;
        line-height: 1.47;
    }
    
    .hero__fieldset-date {
        flex-direction: column;
    }

    .hero__fieldset-checkbox {
        grid-template-columns: repeat(2, auto);
    }
}

@media (max-width: 500px) {

    .hero__bg {
        padding: 40px 0 40px;
    }

    .hero__info {
        align-items: start;
    }

    .hero__title {
        text-align: start;
        margin-bottom: 20px;
    }

    .hero__nav {
        padding: 40px 20px;
    }

    .hero__form {
        gap: 34px;
    }

    .hero__form-title {
        font-size: 18px;
        margin-bottom: 30px;
    }

    /* ======================== */

    .modal__window {
        padding: 40px 15px 30px;
    }

    .hero__text {
        font-size: 16px;
        margin-bottom: 40px;
    }

    .hero__info hr {
        margin-bottom: 40px;
    }

}