body {
    background-color: #1d1d1f;
    color: #fff;
    font-family: sans-serif;
    font-size: 2rem;
}

.wrapper {
    padding: 50px;
    min-height: 100%;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.link {
    display: block;
    background-color: #555;
    border-radius: 2em;
    padding: 2em;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 100px;
}

.input {
    display: block;
    width: 100%;
    padding: 2em;
    margin-bottom: 100px;
    font-size: inherit;
}

.button {
    display: block;
    background-color: #555;
    border-radius: 2em;
    padding: 2em;
    text-align: center;
    text-transform: uppercase;
    font-size: inherit;
    color: inherit;
    margin-bottom: 100px;
    width: 100%;
}

/* ======================================================== */

/*  
:focus
:hover
:active (для всех)  */
.link:hover {
    background: rgb(159, 255, 150);
}
.link:active {
    background: blue;
}

.block__title:hover {
    color:  red;
}

.button:active {
    background: blue;
}

:focus {
    box-shadow: 0 0 10px greenyellow;
}

.input:hover {
    box-shadow: 0 0 10px greenyellow;
}

.input:focus {
    box-shadow: 0 0 20px 50px greenyellow;
}

/* ======================== */

.list__item:first-child {
    color: green;
}
.list__item:last-child {
    color: rgb(0, 17, 255);
}

.list__item:nth-child(even) {
    color: purple;
}
/* odd even */

.list__other:nth-child(4) {
    background: green;
}