* {
    background: #1f1e1e;
    color: #ffffff;
}

.main {
    position: relative;
}

.main__window {
    background: #ffffff;
    border-radius: 10px;
    min-height: 100px;
    position: fixed;
    left: 50vw;
    right: 50px;
    bottom: 100px;
}

.main__window__circle {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background: #fc2e2e;
    position: relative;
    left: 10%;
    bottom: 50px;
}
