body {
    background-color: #333;
    color: #fff;
}

.container {
    padding: 100px 100px 50vh;
    height: 100%;
}

.transition {
    height: 100%;
}

.button {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    text-transform: uppercase;
    font-family: sans-serif;
    background-color: #555;
}

.block {
    width: 10px;
    height: 150px;
}

.red {
    background: linear-gradient(120deg, #f34384c4, #f16452c4 1000px);
}

.blue {
    background: linear-gradient(120deg, #5f51dbc4, #73bcecc4 1000px);
}

.orange {
    background: linear-gradient(120deg, #f09351c4, #f8bf86c4 1000px);
}

.purple {
    background: linear-gradient(120deg, #b475f8c4, #d27bf2c4 1000px);
}

.transition:hover .block {
    width: 100%;
}

/* ========================================================= */

.button {
    transition: background .3s 1s, border-radius .3s .3s;
    /* transition-duration: 1s; */
    /* transition-property: all; */
    /* transition-delay: 1s; */
    /* transition-timing-function: ease; */
}

.button:hover {
    background: #ffa2a2;
    border-radius: 100px;
}

.block {
    transition-duration: 1s;
}

.red {
    transition-timing-function: ease;
}

.blue {
    transition-timing-function: ease-in;
}

.orange {
    transition-timing-function: ease-out;
}

.purple {
    transition-timing-function: cubic-bezier(1, 0, 0, 1);
}

.home-work__title {
    text-align: center;
    height: 100%;
    font-size: 5rem;
    font-family: sans-serif;
}

.home-work__link {
    border: solid 3px rgb(70, 70, 70);
    background-color: grey;
    border-radius: 30px;
    padding: 10px;
    transition: background .3s, border .3s;
}

.home-work__link:hover {
    background: rgb(255, 154, 154);
    border: solid 3px rgb(255, 103, 103);
}