body {
    font-size: 40px;
    background: #16171b;
    margin: 20px;
    color: #fff;
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
}

.flexbox {
    display: flex;
    border: 20px solid #edddbd;
    min-height: 50vh;
    box-shadow: 0 0 3.75rem -0.625rem #00000066;
}

.flexbox-item {
    border: 20px solid #b9a074;
}

.flexbox-item:nth-child(2) .flexbox-content {
    padding: 60px 40px;
}

.flexbox-content {
    border: none;
    padding: 40px;
    background: linear-gradient(#6f4916, #7e5926);
}

/* sadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsad */

.flexbox {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    /* flex-wrap: wrap-reverse; */
}

.flexbox-item-one {
    /* align-self: start; */
    /* order: 3; */
    /* flex-basis: 30%; */
    /* flex-grow: 1; */
    justify-content:space-around
}

.flexbox-item-two {
    /* order: 1; */
    flex-basis: 300px;
    /* flex-grow: 1; */
    flex-shrink: 0;
}

.flexbox-item-three {
    /* order: 2; */
    /* flex-basis: auto; */
    flex: 1 0 200px;
}