body {
    font-size: 40px;
}

* {
    box-sizing: border-box;
}

.block,
.inline {
    background: wheat;
}

.block {
    padding: 30px;
    margin: 50px;
}

/* sadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsadsad */

.block {
    display: inline-block;
    width: 300px;
}

.inline {
    display: none;
}

.img {
    display: block;
}